@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  transition: transform 1.5s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(1rem);
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #1a535c;
  opacity: 1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.mover {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6b6b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mover:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.7s;
}

input:checked + .mover {
  background-color: #1a535c;
}

input:focus + .mover {
  box-shadow: 0 0 1px #1a535c;
}

input:checked + .mover:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.mover.round {
  border-radius: 34px;
}

.mover.round:before {
  border-radius: 50%;
}
