@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  transition: transform 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateX(-10rem);
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #1a535c;
  opacity: 1;
}
