@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  transition: transform 1.5s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(10rem);
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #ff6b6b;
  opacity: 1;
}

/*------Dark/light mode Switch - mobile version-------*/
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.mover {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a535c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mover:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 4px;
  background-color: #f7fff7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .mover {
  background-color: #ff6b6b;
}

input:focus + .mover {
  box-shadow: 0 0 1px #ff6b6b;
}

input:checked + .mover:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.mover.round {
  border-radius: 34px;
}

.mover.round:before {
  border-radius: 50%;
}

/*------Dark/light mode Switch - desktop version-------*/
/*dark mode- desktop*/
.switch-lg {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch-lg input {
  opacity: 0;
  width: 0;
  height: 0;
}

.mover-lg {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mover-lg:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #1a535c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

mover-lg::after {
  background-color: #ff6b6b;
}
input:checked + .mover-lg {
  background-color: #ff6b6b;
}

input:focus + .mover-lg {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .mover-lg:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.mover-lg.round-lg {
  border-radius: 34px;
}

.mover-lg.round-lg:before {
  border-radius: 50%;
}

/* Hire me boxes animations*/
.hide--hireme_content {
  transform: translateY(150%);
  transition: transform 1.5s;
}
.movedown--img_title {
  transform: translateY(80%);
  transition: transform 1.5s;
}

.show--hireme_content {
  transform: translateY(0%);
  transition: transform 1.5s;
}
.moveup--img_title {
  transform: translateY(0%);
  transition: transform 1.5s;
}
/*-------vertical line for the connection*/
.vertical-line {
  border-left: 1px solid;
  height: 100px;
}
